<div class="card card-body p-5 mt-4 ">
  <h1 class="display-4 m-auto">My Notes App</h1>
  <p class="lead m-auto">This is an application to manage your time using notes</p>
  <hr class="my-4" />
  <p>"We're looking for people who are passionate about something,
     who show initiative to do things for themselves." Mark Zuckerberg
  </p>
  <div>
    <a
      class="btn btn-primary btn-lg"
      href="/auth/signup"
      role="button"
    >Register</a>
  </div>
</div>